.theme {
  color-scheme: dark;
  background-color: #121212;
  color: #fff;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6;
}
.container,
.container-left {
  max-width: 37.5rem;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.container {
  padding: var(--spacing-xl) var(--spacing-m) 0;
  text-align: center;
}
.container-left {
  padding: 0 var(--spacing-m);
  text-align: left;
}
.container h2,
.container-left h2 {
  margin-bottom: var(--spacing-m);
  line-height: 1.1;
  letter-spacing: -0.02em;
  overflow-wrap: break-word;
  hyphens: auto;
}
.container-left h3 {
  font-size: var(--scale-2);
  font-weight: 500;
  margin: var(--spacing-l) 0 var(--spacing-s) 0;
}
.container-left p {
  margin-bottom: var(--spacing-m);
}
.container-left ul {
  list-style: square;
  padding: 0;
  padding-left: 1rem;
  margin: 0 0 var(--spacing-m) 0;
}
.container-left ul li {
  margin-bottom: var(--spacing-xs);
}
footer {
  margin: var(--spacing-xxl) 0;
}
a {
  color: #2457f5;
  text-decoration: none;
}
a:hover {
  color: #083bda;
}
.avatar {
  display: block;
  width: 16rem;
  height: 9rem;
  margin: 0 auto var(--spacing-l);
  object-fit: cover;
  object-position: top;
}
@media (max-width: 34.375rem) {
  .avatar {
    margin-bottom: var(--spacing-m);
  }
}
:root {
  --scale-0: 1rem;
  --scale-1: 1.25rem;
  --scale-2: 1.563rem;
  --scale-3: 1.953rem;
  --scale-4: 2.441rem;
  --scale-5: 3.052rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
  font-size: 16px;
  font-family: "Minecraft-Regular", system-ui;
}
@font-face {
  font-display: swap;
  font-family: "Minecraft-Regular";
  font-weight: 400;
  src: url("../font/Minecraft-Regular.woff2") format("woff2");
}
