*.mrpack
*.zip
*.jar
*.log
*.exe
[Dd]esktop.ini
.DS_Store

# minecraft
.fabric
.mixin.out
backups
books
cache
coremods
data
debug
defaultconfigs
logs
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
command_history.txt
hotbar.nbt
icon.png
options.txt
realms_persistence.json
servers.dat
servers.dat.old
usercache.json
